In [ ]:
#Q.2 A) Generate a random array of 50 integers and display them using a line chart, scatter plot,histogram and box plot. Apply appropriate color, labels and styling options
import numpy as np 
import matplotlib.pyplot as plt 
x  = np.random.randint(1,50,100)
y = 2*x

plt.title("Line Plot")
plt.xlabel("X-Axis")
plt.ylabel("Y-Axis")
plt.plot(x,y)
plt.show()

plt.title("Scatter plot")
plt.xlabel("X-Axis")
plt.ylabel("Y-Axis")
plt.scatter(x,x)
plt.show()

plt.title("Histogram")
plt.xlabel("X-Axis")
plt.ylabel("Y-Axis")
plt.hist(x)
plt.show()

plt.title("Box Plot")
plt.xlabel("X-Axis")
plt.ylabel("Y-Axis")
plt.boxplot(x)
plt.show()

In [ ]:
#Q.2 B) Write a Python program to create data frame containing column name, salary, department add 10 rows with some missing and duplicate values to the data frame. Also drop all null and empty values. Print the modified data frame.
import pandas as pd 
data = {
    'name' : ["Harish" ,  "Rakesh" , "Harish" ,"Rakesh" ,"Rohit" ,"Manas" ,"Pankaj" , "Partik","Rupesh" , "Harish"],
    'salary' :[123,456,123 , 456,None,None,3456,None,9012  , 123],
     'department':["CSE" , "CS","CSE", "CS","EE" , None,None,"Com" ,"CSE","CSE"]
}

df  = pd.DataFrame.from_dict(data)

print(df)

df.drop_duplicates(inplace=True)

print("\nAfter removing duplicates records\n")
print(df)

df.dropna(inplace=True)
print("\nAfter removing empty value records\n")
print(df)